*{
    margin: 0;
    padding: 0;
}

.items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    margin-top: -500px;
    width: 950px;
    height: 450px;
}

.items-item{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5%;
}

.colors{
    width: 75px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
    border: 1px solid black;
    margin-top: 50px;
    background: white;
}



.colors-itemf{
    background: red;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5%;
}

.colors-items{
    background: blue;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5%;
}

.colors-itemt{
    background: rgb(4, 232, 4);
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5%;
}

.colors-itemfo{
    background: yellow;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5%;
}

.colors-iteml{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5%;
}

.colors__items-itemfi{
    background: red;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5%;
}

.colors__items-itemse{
    background: blue;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5%;
}

.colors__items-itemth{
    background: rgb(4, 232, 4);
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5%;
}

.colors__items-itemfou{
    background: yellow;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5%;
}

.colors__items-itemla{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5%;
}

